<!-- 

    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome back!</h1>
            <p>Glad to see you're returning :) </p>
            <% link_to "Come and check out our venues", venues_path, class: "btn btn-primary btn-lg" %> 
        </div>
        <div class='container'>
          <div class="jumbotron">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
          </div>
        </div>
    </div>

     -->
    <br>

    <div class='jumbotron jumbotron-landing text-center'>
            <h2 style='margin-top:3em'>Meetings made simple.</h2>
            <% link_to "Come and check out our venues", venues_path, class: "btn btn-primary btn-lg" %> 
            <br>
            <br>
            <%= link_to "Book now", venues_path, class: "btn btn-primary btn-lg", id:'home-button' %>
        </div>

    <div class='container home'>

      <div class="row justify-content-lg-center">

        <div class='card-deck'>
          <div class="col-md-4" style="padding: 5px;margin-bottom:.5em">
            <div class="card box-shadow" id="Venue">
              
              <%= image_tag(Venue.first.images[0], class:'card-img-top') %> 
              <div class="card-body">
                <h5 class="float-right">£<%= Venue.first.price %><small class='text-muted'>/ hour</small></h5>
                <h4 class="card-title"><%= link_to Venue.first.name , venue_url(Venue.first), style:"color:black" %></h4>
                <p class="font-italic card-text"><%= Venue.first.byline%></p>
              </div>
              <div class="card-footer">
                  <span><%= link_to "Book now", new_venue_reservation_path(Venue.first), class: "btn btn-primary btn-md" %></span>
              </div>
            </div>
          </div>
          <div class="col-md-4" style="padding: 5px;margin-bottom:.5em">
            <div class="card box-shadow" id="Venue">
              
              <%= image_tag(Venue.fourth.images[0], class:'card-img-top') %> 
              <div class="card-body">
                <h5 class="float-right">£<%= Venue.fourth.price %><small class='text-muted'>/ hour</small></h5>
                <h4 class="card-title"><%= link_to Venue.fourth.name , venue_url(Venue.fourth), style:"color:black" %></h4>
                <p class="font-italic card-text"><%= Venue.fourth.byline%></p>
              </div>
              <div class="card-footer">
                  <span><%= link_to "Book now", new_venue_reservation_path(Venue.fourth), class: "btn btn-primary btn-md" %></span>
              </div>
            </div>
          </div>
          <div class="col-md-4" style="padding: 5px;margin-bottom:.5em">
            <div class="card box-shadow" id="Venue">
              
              <%= image_tag(Venue.third.images[0], class:'card-img-top') %> 
              <div class="card-body">
                <h5 class="float-right">£<%= Venue.third.price %><small class='text-muted'>/ hour</small></h5>
                <h4 class="card-title"><%= link_to Venue.third.name , venue_url(Venue.third), style:"color:black" %></h4>
                <p class="font-italic card-text"><%= Venue.third.byline%></p>
              </div>
              <div class="card-footer">
                  <span><%= link_to "Book now", new_venue_reservation_path(Venue.third), class: "btn btn-primary btn-md" %></span>
              </div>
            </div>
          </div>
        </div>


    <div class='container' style='margin-top:5em'>
      <div class='row text-center' style="font-size:1em; color:#383838">
          <div class='col-lg'>
              <i class="fa fa-briefcase fa-5x" id='main-icon-homepage'></i>
              <h5 class='lead'>Work here</h5>
          </div>
          <div class='col-lg'>
              <i class="fa fa-calendar fa-5x" id='main-icon-homepage'></i>
              <h5 class='lead'>Meet here</h5>
          </div>
          <div class='col-lg'>
              <i class="fa fa-industry fa-5x" id='main-icon-homepage'></i>
              <h5 class='lead'>Create here</h5>
          </div>
          <div class='col-lg'>
              <i class="fa fa-coffee fa-5x" id='main-icon-homepage'></i>
              <h5 class='lead'>Relax here</h5>
          </div>
      </div>
    </div>

    <div class='col-lg-12 text-center'>
      <h2 style='margin-top:3em;margin-bottom:1em'>Wanna be a Hang partner? Let us know! </h2>

        <%= form_tag(send_mail_path, class:'form-inline justify-content-center', id:'test', style:'margin-bottom:.5em') do %>
              <div class="form-group">
                 <%= email_field_tag 'email', nil, class: 'form-control ', style:'width:600px;margin-right:.5em;', placeholder: 'Your Email Address' %>
              </div>
              <%= submit_tag 'Join!', class: 'btn btn-default btn-about float-right'%>

        <% end %>
      <div class='row justify-content-center' style='margin-bottom:7em;'>
        <input id="checkbox" name="accept" type="checkbox" value="1" style='height,width:15px;margin-top:5px;margin-right: 10px;'>
        <p class='display-5'> You have to agree to our terms and conditions first </p>
      </div>
    </div>
    </div>

<!-- 

<% if user_signed_in? %>

    <div class="jumbotron jumbotron-home">
        <div class="container">
            <div class="col-md-8">
              <h1 id="landing">Welcome to <strong>Hang</strong></h1>
              <p>We're extremely excited to bring you Hang, our tailored solution to the growing need for meeting spaces in urban landscapes. We're looking to bridge the divide between trendy spaces in hot locations and a booming business scene. Book your space today, on the fly, at the tap of a finger. </p>
              <%= link_to "Sign up now", signup_path, class: "btn btn-primary btn-xl" %>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
        </div>

      
    </div>

<% end %>

     -->

<script type='text/javascript'>
  var validate_checkbox;
  $('#test').submit(function(e){
    if( $('#checkbox').is(':checked') == false){
      alert("You have to accept our terms and conditions first!");
      e.preventDefault();
      location.reload();
    }
  })
</script>