<%= simple_form_for [@merchant,@venue] do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :price %>
    <%= f.input :byline %>
    <%= f.input :capacity %>
    <%= f.input :street_address %>
    <%= f.input :postcode %>
    <%= f.input :images, multiple: true, input_html: { name: 'venue[images][]', value: @venue.images[0] } %>
    <%= f.input :images, multiple: true, input_html: { name: 'venue[images][]', value: @venue.images[1] } %>
    <%= f.input :images, multiple: true, input_html: { name: 'venue[images][]', value: @venue.images[2] } %>
    <%= f.input :images, multiple: true, input_html: { name: 'venue[images][]', value: @venue.images[3] } %>
    <%= f.input :images, multiple: true, input_html: { name: 'venue[images][]', value: @venue.images[4] } %>
    <%= f.input :images, multiple: true, input_html: { name: 'venue[images][]', value: @venue.images[5] } %>
    <%= f.simple_fields_for :images do |x| %>
    <% end %> 
  </div>
  <br>
  Current images
  <% @venue.images.each do |x| %>
    <p><%= x %></p>
  <% end %>
  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to 'Delete', 
                venue, 
                method: :delete, 
                class: 'btn btn-danger', 
                data: { confirm: 'Are you sure?' } %>
  </div>

  
<% end %>
