<div class="venue">
  <h2><%= show_nickname(venue) %></h2>
  <%= show_address(venue) %>
  <p><%= booking_count(venue) %></p> 
  <p><%= venue_value(venue) %></p>
  <p><%= edit_delete_links(venue) %></p> 
</div>