  <nav class="navbar navbar-expand-md navbar-light bg-faded" style="margin-bottom:5px">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand" href="#"> Search </a>
      <div class="collapse navbar-collapse main-nav" id='navbarSupportedContent'>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Filters here <span class="sr-only">(current)</span></a>
          </li>
            <a class="nav-link disabled" href="#">Invalid sel</a>
          </li>
        </ul>
        <form class="form-inline my-4 my-lg-0">
          <input class="form-control mr-sm-4" type="text" placeholder="Find your venue">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>


<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Venues</h1>

  <br>

  <div class="card p-3 text-left">
      <p>Welcome to our booking page, we hope you find somewhere you may like.</p>
        <small>
          <cite title="Source Title">Hang Team</cite>
        </small>
  </div>
  <br>
  <div class="row justify-content-lg-center">
    
      <div class="card-deck">
        <% @venues.each do |venue| %>
          <div class="col-md-4" style="padding: 5px;margin-bottom:.5em">
            <div class="card box-shadow" id="Venue">
              <% if venue.images[0] == nil %>
                <img class="card-img-top" src="http://placehold.it/350x250" alt="Card image cap">

              <% else %>
                <%= image_tag(venue.images[0], class:'card-img-top') %> 
              <% end %>
              <div class="card-body">
                <h5 class="float-right">£<%= venue.price %><small class='text-muted'>/ hour</small></h5>
                <h4 class="card-title"><%= link_to venue.name , venue_path(venue), style:"color:black" %></h4>
                <p class="font-italic card-text"><%= venue.byline%></p>
              </div>
              <div class="card-footer">
                  <span><%= link_to "Book now", new_venue_reservation_path(venue), class: "btn btn-primary btn-md" %></span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    
  </div>

  <br>

  <% if user_signed_in? %>
    <% if current_user.is_seller? && %>
      <%= link_to 'New Venue', new_merchant_venue_path(@merchant) %>
    <% end %>
  <% end %>
</div>
