<div class="row-fluid">
  <nav class="navbar navbar-toggleable-sm navbar-light bg-faded" style="margin-bottom:5px">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#"> Search </a>
        <div class="collapse navbar-collapse main-nav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Filters here <span class="sr-only">(current)</span></a>
            </li>
              <a class="nav-link disabled" href="#">Invalid sel</a>
            </li>
          </ul>
          <form class="form-inline my-4 my-lg-0">
            <input class="form-control mr-sm-4" type="text" placeholder="Find your venue">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </div>
    <nav>
  </div>

<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Venues</h1>

  <br>

  <!--
  <table class = "table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @venues.each do |venue| %>
        <tr>
          <td><%= venue.name %></td>
          <td><%= venue.price %></td>
          <td><%= link_to 'Show', venue %></td>
          <td><%= link_to 'Edit', edit_venue_path(venue) %></td>
          <td><%= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  -->

  <div class="card p-3 text-left">
      <p>Welcome to our booking page, we hope you find somewhere you may like.</p>
        <small>
          <cite title="Source Title">Hang Team</cite>
        </small>
  </div>
  <br>
  <div class="row justify-content-lg-center">
    
      <div class="card-deck">
        <% @venues.each do |venue| %>
          <div class="col-md-4">
            <div class="card" id="Venue" style="margin-bottom: 1em">
              <img class="card-img-top" src="http://placehold.it/350x250" alt="Card image cap">
              <div class="card-block">
                <h2 class="float-right">£<%= venue.price %></h2>
                <h4 class="card-title"><%= link_to venue.name , venue_path(venue), style:"color:black" %></h4>
                <p class="font-italic lead card-text"><%= venue.byline%></p>
              </div>
              <div class="card-footer">
                  <span><%= link_to "Book now", "#", class: "btn btn-primary btn-md" %></span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    
  </div>

  <br>



  <%= link_to 'New Venue', new_venue_path %>
</div>