<div id="mycarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% @venue.images.each_with_index do |ven, x| %>
      <li data-target="#mycarousel" data-slide-to=#{x} <%= 'class="active" if ven == venue.images[0]' %> ></li>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% @venue.images.each_with_index do |ven, x| %>
      <div class="carousel-item <%= 'active' if x==0 %>" style="background-color:black">
        <%= image_tag(ven, class:'d-block img-fluid' )%>
        <div class="carousel-caption">
            <h3><%= x+1 %></h3>
        </div>
      </div>
    <% end %>
  </div>
  

  <!-- Controls -->
  <a class="carousel-control-prev" href="#mycarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#mycarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container">

<br>

  <div class="row">
    <div class="col-md-8">
      <h1 class="card-title" id="venue"><%= @venue.name %></h1>
      <p class="card-text"><h3><%= @venue.byline %></h3></p>
    </div>
    <div class="col-md-4">
      <div class="card">
          <div class='card-body'>
            <h1>£ <%= @venue.price %> / h </h1>
          </div>
          <div class='card-footer'>
            <% if user_signed_in? %>
            <h3>Book now <%= link_to "+", new_venue_reservation_path(@venue, @reservation) %></h3>
            <% end %>
            <% if current_user == @venue.merchant.user %>
              <%= link_to 'Edit', edit_venue_path(@venue) %> | 
              <%= link_to 'Back', venues_path %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>