<%= simple_form_for [@venue,@reservation], remote: true do |f| %> <!-- add cutom URL and method instead of redirect -->
  <div class="form-inputs">
    <%= f.input :name, as: :hidden %>
    <%= f.input :date_range,as: :hidden, input_html: { class: "date-range-picker input-md form-control"} %>
    <%= f.input_field :start, as: :hidden, value: Date.today, class: 'start_hidden' %>
    <%= f.input_field :end, as: :hidden, value: Date.today, class: 'form-control input-md end_hidden' %>

  </div>

  <br>
<!--  
  <h4> <%= link_to 'Testing confirmation', confirmation_venue_reservations_path, method: :get %> </h4> -->
  <div class="form-actions">
    <%= f.button :submit, "Proceed", name: 'Preview', class:'btn btn-success' %>
    <% if current_user == @venue.merchant.user %>
      <%= f.button :submit, "Create block-out", name:'block_out', class:'btn btn-danger'%>
    <% end %>
    <%= link_to 'Back', venue_reservations_path, class:'btn btn-primary' %>

    <%= link_to 'Delete', 
                venue_reservation_path, 
                method: :delete, 
                class: 'btn btn-danger', 
                data: { confirm: 'Are you sure?' }, 
                remote: true unless @reservation.new_record? %>
  </div>
<% end %>
