<div class='container'>

<% if params[:Preview] %>
<% end %>

	<div class="row">
	    <div class="col-xl-8">
		    <br>
	    	<%= render 'billing', user: @user %>

	    </div>
	    <div class="col-xl-4">
		    <br>
	    	<div class='card'>
		    	<%= image_tag @venue.images[0], class:'card-img-top', alt:'Card image cap' %>
		    	<div class='card-body'>

					<h2 class='card-title'><%= @reservation.name %></h2>
					<p class='card-text'><%= @venue.name %> </p>
					<p class='card-text'><%= @reservation.start %></p>
					<p class='card-text'><%= @reservation.end %></p>
					<br>

					<%= link_to 'Back', new_venue_reservation_path, class:'btn btn-primary' %>
				</div>
			</div>
	    </div>
	</div>

	


</div>