<div class='container'>

<% if params[:Preview] %>
<% end %>

	<div class="row">
	    <div class="col-md-4">
	    <br>
	    	<%= image_tag @venue.images[0], class:'img-fluid' %>
	    </div>
	    <div class="col-md-8">
	    <br>
			<h1><%= @reservation.name %></h1>
			<h2><%= @venue.name %> </h1>
			<h2><%= @reservation.start %></h2>
			<h2><%= @reservation.end %></h2>
			<br>

			<%= link_to 'Back', new_venue_reservation_path, class:'btn btn-primary' %>
	    </div>
	</div>

	<%= render 'billing', user: @user %>

    <br>
    <br>

	<div class='calendar'></div>

</div>