<div class='container'>

<% if params[:Preview] %>
<% end %>

	<div class="row">
	    <div class="col-xl-12">
		    <br>
		    <div class='card'>
		    	<%= image_tag @venue.images[0], class:'card-img-top', alt:'Card image cap' %>
		    	<div class='card-body'>

					<h5 class='card-title'><%= @reservation.name %></h5>
					<h3 class='card-title'><%= @venue.name %> </h3>
					<p class='card-text'>On <%= @reservation.start.strftime("%A, %d %b %Y") %> from <%= @reservation.start.strftime("%I:%M%p") %> to <%= @reservation.end.strftime("%I:%M%p") %></p>
					<p class='card-text price-confirmation'>Amount to be charged: <strong>£<%= @reservation.calc_amount(@venue.price) %> </strong> </p>
					<br>

					<%= link_to 'Back', new_venue_reservation_path, class:'btn btn-primary' %>
				</div>
			</div>
		    
		    <br>
	    	<%= render 'billing', user: @user %>

			<% if @reservation.errors.any? %>
			  <div id="error_explanation">
			    <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>
			 
			    <ul>
			    <% @reservation.errors.full_messages.each do |msg| %>
			      <li><%= msg %></li>
			    <% end %>
			    </ul>
			  </div>
			<% end %>
	    </div>
		    <br>
	    	
	</div>

	


</div>