<div class='container'>
  <br>
  <% if params[:fresh] %>
    <div class="jumbotron">
      <div class='row'>
        <div class='col-md-8'>
          <h3 class="display-5">Thank you for booking your space with us!</h3>
          <p class="lead"><strong>#<%= @reservation.id %></strong> is your reservation order number, we really appreciate it.</p>
          <p id='confirmation-show'>Please be at <strong><%= @venue.street_address %></strong> at <strong><%= @reservation.start.strftime("%I:%M%p") %></strong>, for your booking lasting until <strong><%= @reservation.end.strftime("%I:%M%p")%></strong>.</p>
          <hr class="my-4">
          <p>Feel free to check out our other spaces to make more bookings.</p>
          <p class="lead">
            <%= link_to "Come check out our other spaces", venues_path, class: "btn btn-primary btn-md" %>
          </p>
        </div>
        <div class='col-md-4'>
          <div id="venue_map_show" class='mr-auto'></div>
        </div>
      </div>
    </div>
  <% end %>

  <!-- 
  <%= link_to 'Edit', edit_venue_reservation_path(@venue, @reservation) if @user == @reservation.user %> |
   -->
  <%= link_to 'Back', venues_path %>
</div>
<!--  
<p>

  <p id="notice"><%= notice %></p>

    <strong>Name:</strong>
    <%= @reservation.name %>
  </p>

  <p>
    <strong>ID:</strong>
    <%= @reservation.id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @reservation.price %>
  </p>

  <p>
    <strong>End:</strong>
    <%= @reservation.end %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= @reservation.start %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @reservation.user_id %>
  </p>

  <p>
    <strong>Venue:</strong>
    <%= @reservation.venue_id %>
  </p>
-->
<script type='text/javascript'>
  function initMap() {
          var center_coords = {lat: <%=@venue.latitude%>, lng: <%=@venue.longitude%>}
          var map = new google.maps.Map(document.getElementById('venue_map_show'), {
            zoom: 13,
            center: center_coords,
          });
          var marker = new google.maps.Marker({
            position: center_coords,
            map: map
          });
        }
</script>


<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_API']%>&callback=initMap" async defer></script>