<!DOCTYPE html>
<html>
  <head>
    <!-- 
    <% if content_for? :admin_venues %>
      <%= yield :admin_venues %>
    <% end %>
     -->
    <title>Hang - Meetings Sorted</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
  </head>

  <body data-spy="scroll" data-offset="0">

    <!-- Navigation Bar -->
    <div class="row-fluid">
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark" id="navbar">
        <div class="container">
          <div class="navbar-header">
            <%= link_to image_tag("hang-white.png", alt:"logo", id: "logo1") , root_path, class: "navbar-brand" %>
          </div>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "About", about_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Contact", contact_us_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Venues", venues_path, class: "nav-link" %></li>
          </ul>
          <ul class="navbar-nav">
            <% if user_signed_in? %>
              <li class="nav-item"><%= link_to "Log out", signout_path, method: :delete, class: "nav-link" %></li>
            <% else %>
              <li class="nav-item"><%= link_to "Sign in", signin_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "Sign up", signup_path, class: "btn btn-primary" %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>

    <!-- This is a comment. control and slash -->
    <!-- Flash Messages -->

    <% flash.each do |name, message| %>
      <%= content_tag(:div, message, class: "alert alert-info #{name}")%>
    <% end %>

    <!-- Div to protect from navbar covering content! -->

    <!-- Page Content -->
    <%= yield %>
    <div id='remote_container'></div>
    <!-- Footer -->
    <footer class="small text-muted">
      <div class="container">
        <hr>
        <center>
          <p>© 2016 Hangspaces</p>
        </center>
      </div>
    </footer>
    <!-- 
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
     
     %= render 'layouts/dashboard_theme_partial' %> 
     -->
  </body>
</html>
