<!DOCTYPE html>
<html>
  <head>
    <!-- 
    <% if content_for? :admin_venues %>
      <%= yield :admin_venues %>
    <% end %>
     -->
    <title>Hang - Meetings Sorted</title>

    <%= favicon_link_tag 'logo.ico' %>

    <%= csrf_meta_tags %>

    <%= Gon::Base.render_data %>
    <%= include_gon(:init => true) %>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    

  </head>


    <!-- Navigation Bar -->
    <div class="row-fluid border-bottom box-shadow">
      <nav class="navbar navbar-expand-sm" id="navbar">
        <div class="container">
          <div class="navbar-header">
            <%= link_to image_tag("hang-black.png", alt:"logo", id: "logo1") , root_path, class: "navbar-brand", style:'size:150%;margin-right:2rem' %>
          </div>
          <form class="form-inline my-4 my-lg-0 mr-auto">
            <input class="form-control mr-sm-4" type="text" placeholder="Find your venue">
            <%= link_to "Search",venues_path, class:"btn btn-outline-success my-2 my-sm-0"%>
            <!-- 
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" href='venues_path' >Search</button>  -->
          </form>
          <ul class="navbar-nav">
            <% if user_signed_in? %>
              <li class="nav-item"><%= link_to "Log out", signout_path, method: :delete, class: "nav-link" %></li>
            <% else %>
              <li class="nav-item"><%= link_to "Sign in", signin_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "Sign up", signup_path, class: "btn btn-primary" %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>

    <!-- This is a comment. control and slash -->
    <!-- Flash Messages -->

    <% flash.each do |name, message| %>
      <%= content_tag(:div, message, class: "alert alert-info #{name}")%>
    <% end %>

    <!-- Div to protect from navbar covering content! -->

    <!-- Page Content -->
    <%= yield %>
    <div id='remote_container'></div>
    <!-- Footer -->
    <footer class="small text-muted">
      <div class="container">
        <hr>

        <nav class='nav justify-content-lg-center'>
          <a class="nav-link"><strong><%= link_to "About", about_path, class: "nav-link" %></strong></a>
          <a class="nav-link"><strong><%= link_to "Contact", contact_us_path, class: "nav-link" %></strong></a>
          <a class="nav-link"><strong><%= link_to "Venues", venues_path, class: "nav-link" %></strong></a>
        </nav>

        <div>
          <span class='float-right'>support@hangspaces.com</span>
          <p class='text-left'>© 2016 Hangspaces</p>
        </div>

        <center>
        </center>
      </div>
    </footer>
    <!-- 
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
     
     %= render 'layouts/dashboard_theme_partial' %> 
     -->

    
     
  </body>
</html>
